.App {
  text-align: center;
}
/*Header*/
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--beigeClaro);
  color: var(--blue);
}
/*Navbar*/
nav a{
  margin: 0 2rem;
  color: var(--black);
  text-decoration: none;
}
nav a:hover{
  color: var(--blue);
  font-weight: bold;
}
header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--black);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}
/*home*/
.container-home-elemnts{
  padding: 160px 0px 210px;
   display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("images/Background-uno.jpg");
  background-size: cover;
}
.container-title-principal{
  width: 50%;
}
.titulo-principal{
  margin-left: 100px;
  font-size: 19px;
  font-weight: bold;
  font-style: italic;
}
.buton-principal{
   padding: 35px 65px 30px;
   border: 2px solid var(--white);
   border-radius: 10px;
   color: var(--black);
   background-color: transparent;
  font-size: 18px;
  margin-right: 100px;
 }
.buton-principal:hover{
  border: 3px solid var(--blue);
  color: var(--blue);
  cursor: pointer;
  font-style: italic;
}
/*Title*/
.component-title{
  padding: 20px 10px 15px;
  background-color: var(--beigeClaro);
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--blue);
}
.component-h1{
  color: var(--blue);
}
/*Task*/
.container-task{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--beigeClaro);
}
.task-row1, .task-row2{
  margin: 15px;
}
.add-task{
  margin-top: 50px;
  padding: 10px;
  border: 1px solid var(--blue);
  border-radius: 10px;
  background-color: var(--white);
}
.task-title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  margin: 5px;
}
.add-task  input{
  padding: 3px;
  margin: 3px;
}
.send-task{
  padding: 10px;
  width: 120px;
  margin: 15px 180px 15px;
  border: 1px solid var(--black);
  border-radius: 5px;
  color: var(--blue);
  background-color: var(--white);
  font-weight: bold;
}
.send-task:hover{
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}
.container-add-task{
  border: 1px solid var(--blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: var(--white);
}
.task-add-title{
  margin: 15px;
  color: var(--blue);
}
.task-table{
  width: 100%;
  border-top: 1px solid var(--blue);
  text-align: center;
}
.tHead{
  color: var(--blue);
  font-weight: bold;
}
.edit-btn{
  color: greenyellow;
  cursor: pointer;
}
.delete-btn{
  color: darkred;
  cursor: pointer;
}
.task-comodines{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--blue);
  border-radius: 10px;
  background-color: var(--white);
}
.buttons-comodines{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 15px;
}
.button-comodin{
  padding: 8px;
  border: 1px solid var(--black);
  border-radius: 5px;
  color: var(--blue);
  background-color: var(--white);
  width: 120px;
  font-weight: bold;
}
.button-comodin:hover{
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}
.date-task{
  border: 1px solid var(--blue);
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  padding: 5px;
  background-color: var(--white);
}
.date-title{
 color: var(--blue);
  margin: 7px;
}
.text-center{
  margin: 3px;
}
/*Single button*/
.container-button{
  background-color: var(--beigeClaro);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.button-general{
  padding: 10px 55px 15px;
  border: 2px solid var(--blue);
  background-color: var(--white);
  color: var(--blue);
  font-size: 22px;
  border-radius: 8px;
  margin: 10px;
}
.button-general:hover{
  border: 2px solid var(--white);
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  font-style: italic;
}
/*schedule*/
.container-schedule{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  background-color: var(--beigeClaro);
}
.day-schedule{
  width: 280px;
  margin: 15px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.lunes{
  border: 1px solid var(--lunes );
}
.lunes-title{
  color: var(--lunes );
}
.lunes-table th{
  color: var(--lunes );
  font-weight: bold;
}
.lunes-table td{
  text-align: center;
  border: 1px solid var(--lunes );
  border-radius: 6px;
}
.martes{
  border: 1px solid var( --martes);
}
.martes-title{
  color: var( --martes);
}
.martes-table th{
  color: var( --martes);
  font-weight: bold;
}
.martes-table td{
  text-align: center;
  border: 1px solid var( --martes);
  border-radius: 6px;
}
.miercoles{
  border: 1px solid var( --miercoles);
}
.miercoles-title{
  color: var( --miercoles);
}
.miercoles-table th{
  color: var( --miercoles);
  font-weight: bold;
}
.miercoles-table td{
  text-align: center;
  border: 1px solid var( --miercoles);
  border-radius: 6px;
}
.jueves{
  border: 1px solid var( --jueves);
}
.jueves-title{
  color: var( --jueves);
}
.jueves-table th{
  color: var( --jueves);
  font-weight: bold;
}
.jueves-table td{
  text-align: center;
  border: 1px solid var( --jueves);
  border-radius: 6px;
}
.viernes{
  border: 1px solid var( --viernes);
}
.viernes-title{
  color: var( --viernes);
}
.viernes-table th{
  color: var( --viernes);
  font-weight: bold;
}
.viernes-table td{
  text-align: center;
  border: 1px solid var( --viernes);
  border-radius: 6px;
}
.fds{
  border: 1px solid var( --fds);
}
.fds-title{
  color: var( --fds);
}
.fds-table th{
  color: var( --fds);
  font-weight: bold;
}
.fds-table td{
  text-align: center;
  border: 1px solid var( --fds);
  border-radius: 6px;
}
/*Responsive*/
@media only  screen and (max-width: 950px){
  /*Task*/
  .container-task{
    display: flex;
    flex-direction: column;
  }
  .add-task{
    display: flex;
    flex-direction: column;
  align-items: center;
    justify-content: center;
  }
  /*Schedule*/
  .container-schedule{
    grid-template-columns: repeat(2, 1fr);
  }
  .day-schedule{
    margin-left: 50px;
  }
}
@media only  screen and (max-width: 790px){
  /*Navbar*/
  header .nav-btn{
    visibility: visible;
    opacity: 1;
  }
  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    background-color: var(--white);
    transition: 1s;
    transform: translateY(-100vh);
  }
  header .responsive-nav{
    transform: none;
  }
  nav -nav-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  nav a{
    font-size: 1.5rem;
  }
  /*home*/
  .titulo-principal{
    margin-left: 40px;
    font-size: 16px;
  }
  .buton-principal{
    padding: 20px 40px 22px;
    font-size: 18px;
    margin-right: 40px;
  }
  /*Task*/
  .add-task form{
    width: 80%;
  }
  .add-task input{
  padding: 0;
    margin: 0;
  }
  /*Schedule*/
  .container-schedule{
    grid-template-columns: repeat(1, 1fr);
  }
  .day-schedule{
    width: 75%;
  }
}
@media only  screen and (max-width: 490px){
  /*home*/
  .titulo-principal{
    margin-left: 5px;
    font-size: 14px;
  }
  .buton-principal{
    padding: 8px 15px 9px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 2pc;
  }
  /*Task*/
  .add-task form{
    width: 60%;
  }
  .send-task{
    margin-left: 10px;
  }
  .task-table{
    font-size: 10px;
  }
  .calendar-container{
    width: 85%;
  }
  /*Single button*/
  .container-button{
    flex-direction: column;
  }
}