/*Colores generales*/
:root{
  --white:#ffffff;
  --black:#1e1a30;
  --blue:#256bd2;
  --bluelight:rgba(221, 222, 255, 0.3);
  --lunes: #08a3ff;
  --martes: #edd75f;
  --miercoles: #a44c89;
  --jueves: #00846a;
  --viernes: #ffbda3;
  --fds: #ff95d2;
}
/*Configuraciones general pagina*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


